.mySwiper {
  border: 1px solid gray;
  border-radius: 5px;
  width: 80vw;
  margin: auto;
  padding-left: 40px !important;
  padding-bottom: 10px !important;
  padding-top: 20px !important;
  box-sizing: border-box;
}

@media (max-width: 650px) {
  .mySwiper {
    width: 100%;
    padding-left: 32% !important;
    padding-bottom: 20px !important;
    padding-top: 15px !important;
  }

  .mySwiper .swiper-pagination {
    bottom: -5px !important; /* moves dots 5px lower */
  }
}

@media (max-width: 450px) {
  .mySwiper {
    padding-top: 10px !important;
    width: 100%;
    padding-left: 24% !important;
    padding-bottom: 20px !important;
  }
  .mySwiper .swiper-pagination {
    padding-top: 25px;
  }
}
/* Pagination styling */
.swiper-pagination-bullet {
  background: #000 !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #d97706 !important;
  opacity: 1;
}

.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* Pagination styling */
.mySwiper .swiper-pagination {
  bottom: 0px !important; /* moves dots 5px lower */
}

.mySwiper .swiper-pagination-bullet {
}

.mySwiper .swiper-pagination-bullet-active {
}
